<section class="text-center py-16 md:py-24 bg-gray-50 dark:bg-gray-700">
  <div class="max-w-3xl mx-auto px-4 flex items-center gap-8">
    <div class="flex-1">
      <h1 class="text-4xl md:text-5xl font-bold mb-4 text-black dark:text-black">
        Mario Pazmiño <span class="text-[#3E8941] dark:text-[#3E8941]">Desarrollador Web Freelance</span>
      </h1>
  
      <p class="text-lg md:text-xl text-black dark:text-black mb-8 leading-relaxed max-w-2xl">
        Centrado en la creación de aplicaciones y soluciones web que aporten valor. Puedo ayudarte a ofrecer grandes experiencias online a tus usuarios o a ofertar tus servicios o negocios a tus clientes.
      </p>
  
      <a 
        href="https://www.linkedin.com/in/mario-quinteros-a47372171/" 
        class="bg-[#3E8941] hover:bg-[#2E6B31] transition-all text-white text-base md:text-lg px-8 py-3 rounded inline-flex items-center cursor-pointer shadow-lg hover:shadow-xl active:scale-95"
      >
        <span class="font-medium tracking-wide">¡Disponible para proyectos!</span>
      </a>
    </div>
    <!-- <div class="flex-1">
      <img src="tu-imagen.jpg" alt="Dani Rodríguez" class="w-full max-w-sm rounded-lg shadow-lg">
    </div> -->
  </div>
</section>
