<section class="max-w-6xl mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold mb-4">Mis herramientas favoritas</h1>
    <p class="text-lg text-gray-700 mb-8 max-w-3xl">
      Una lista de las tecnologías en las que me desempeño mejor. 
    <br> 
      Cuando tenga todo el control sobre el stack tecnológico probablemente acabe usando alguna de estas.
    </p>
  
    <div class="flex flex-col md:flex-row gap-8">
      <div class="flex-1">
        <div class="flex items-start gap-4 mb-6">
          <img src="/rails-logo.svg" class="w-20 h-20">
          <div>
            <h2 class="text-xl font-bold">Ruby on Rails</h2>
            <p class="text-gray-600">Salvo que los requisitos del proyecto sugieran que no es la mejor opción, para nuevos proyectos acabará usando Ruby on Rails.</p>
          </div>
        </div>
  
        <div class="flex items-start gap-4 mb-6">
          <img src="/nodejs-logo.svg" class="w-20 h-20">
          <div>
            <h2 class="text-xl font-bold">NodeJS</h2>
            <p class="text-gray-600">Para proyectos más pequeños que se centren en la interacción o en intercambio de datos, NodeJS hace fácil escribir y desplegar código.</p>
          </div>
        </div>
      </div>
  
      <div class="flex-1">
        <div class="flex items-start gap-4 mb-6">
          <img src="/fastapi-logo.svg" class="w-20 h-20">
          <div>
            <h2 class="text-xl font-bold">FastAPI</h2>
            <p class="text-gray-600">Si buscas algo relacionado con el desarrollo de software, como crear una web para tu organización, configurar una tienda online.</p>
          </div>
        </div>
  
        <div class="flex items-start gap-4 mb-6">
          <img src="/go-logo.svg" class="w-20 h-20">
          <div>
            <h2 class="text-xl font-bold">Go</h2>
            <p class="text-gray-600">Hay situaciones en las cuales es mejor comenzar usando Go. Para aplicaciones intensas y que tengan mayores requisitos.</p>
          </div>
        </div>
      </div>
    </div>
</section>
