<section class="max-w-3xl mx-auto px-4 py-12 text-center">
    <h1 class="text-3xl font-bold mb-6">Mis servicios</h1>
    
    <p class="text-lg text-gray-700 mb-12 max-w-2xl mx-auto">
      Ofrezco diferentes servicios relacionados con el desarrollo de software, incluyendo trabajar en proyectos completos desde su idea inicial hasta su implantación, o el mantenimiento de código que ya existe. También puedo ofrecer formación para ayudar a individuos o equipos a adquirir cualidades en distintas áreas del desarrollo de software.
    </p>

    <div class="space-y-4 mx-auto">
        <h2 class="text-2xl font-semibold">Desarrollo Web</h2>
        <p class="text-lg text-gray-700">
            Te ayudo a crear todo tipo de proyectos web, desde un sitio informativo o blog, hasta una tienda online para que tus clientes compren directamente en tu página, o incluso una aplicación web completa para tu SaaS. Ya sea que necesites construir desde cero, mantener código existente, o apoyar a tu equipo de manera externa, puedo cubrir todas tus necesidades.      
            Me puedo ocupar tanto del frontend como del backend, lo que significa que puedo cubrir todas las áreas de tu web.
        </p>
    </div>
</section>
